#login {
    background: linear-gradient(120deg, #4c79d3 44.9%, #ffff 45%) no-repeat fixed;
}

#app {
    background: linear-gradient(120deg, #ffff 44.9%, #4c79d3 45%) no-repeat fixed;
}

header {
    border-bottom:  1px solid #bebcbc;
    padding: 5px;
    background-color: white;
}

.color-primary {
    color: #430070;
}

.color-secondary {
    color: #4c79d3;
}

.icon-detail {
    font-size: 50px;
    margin-right: 10;
    vertical-align: middle;
}

.text-login {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.coins {
    position: absolute;
    bottom: 5px;
}

.button-float {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    padding: 0 !important;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    border: 2px solid #430070;
    background-color: #430070;
    color: white;
}

.button-float:hover {
    border: 2px solid #4c79d3;
    background-color: white;
    color: #4c79d3;
}

.button-default {
    border-radius: 10px;
    background-color: #430070;
    color: white;
}

.button-cancel {
    border-radius: 10px;
}

.button-login {
    border-radius: 10px;
    background-color: #430070;
    color: white;
    width: 50%;
    margin: 0 25%;
}

.button-login:hover, .button-default:hover {
    background-color: #4c79d3;
    color: white;
}

.link-default {
    color: #430070;
    cursor: pointer;
}

.link-default:hover {
    color: #4c79d3;
}

.info {
    background-color: white;
    border-radius: 20px, 20px, 0px, 0px;
    padding: 20px, 0px, 0px;
}

.menu {
    margin-right: 20px;
}

.logout {
    min-width: 5rem !important;
    cursor: pointer;
}